<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row class="padding-top-50">
        <ion-col>
          <strong>Set New Password</strong>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
          <ion-label>New password</ion-label>
          <ion-input placeholder="Enter new password here" type="password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-25">
        <ion-col>
          <ion-label>Repeat password</ion-label>
          <ion-input placeholder="Enter new password again" type="password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-left">
          <p>6+ Characters</p>
          <p>1+ Symbols</p>
        </ion-col>
        <ion-col class="text-left">
          <p>1+ Uppercase</p>
          <p>1+ Numbers</p>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
          <ion-button href="sign-in" expand="block">Save</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>